<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <div class="container">
        <div id="media_controls">
            <button onclick="shuffle()" class="btn btn-primary">shuffle</button>
            <button onclick="pause_all()" class="btn btn-secondary">pause</button>
            <button onclick="play_current()" class="btn btn-success">play</button>
            <button onclick="skip()" class="btn btn-warning">skip</button>
        </div>
        {{ body | safe }}
    </div>      
</body>
<script>

    var randomized_players = null
    var current_player = 0
    if (document.querySelectorAll("audio").length == 0) {
        document.getElementById("media_controls").style.display = "none"
    }

    function randomize_array(array) {
        array = Array.from(array)
        let newarray = []
        for (let i = Math.floor(Math.random() * array.length); array.length > 0; i = Math.floor(Math.random() * array.length)) {
            newarray.push(array[i])
            array.splice(i, 1)
        }

        return newarray;
    }
    function shuffle()  {
        let players = document.querySelectorAll("audio")

        players.forEach((player)=>{
            player.currentTime = 0
            player.pause()
        })

        randomized_players = randomize_array(players)
        current_player = 0
        randomized_players[current_player].addEventListener("ended", play_next)
        randomized_players[current_player].play()
    }

    function play_next() {
        randomized_players[current_player].removeEventListener("ended", play_next)
        randomized_players[current_player].pause()
        randomized_players[current_player].currentTime = 0
        current_player += 1

        if (current_player > randomized_players.length){
            shuffle()
        }
        else{
            randomized_players[current_player].addEventListener("ended", play_next)
            randomized_players[current_player].play()
        }
    }

    function pause_all() {
        let players = document.querySelectorAll("audio")
        players.forEach((player)=>{
            player.pause()
        })
    }

    function play_current() {
        randomized_players[current_player].play()
    }

    function skip() {
        randomized_players[current_player].pause()
        play_next()
    }
</script>
<style>
    body {
        padding: 0px;
        border: 0px;
        margin: 0px;
    }
    #media_controls {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 3px 10px 3px 10px;
        background-color: darkgray;
    }
    button {
        margin: 3px;
    }
</style>
</html>